<%= simple_form_for(@debt) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :category %>
    <%= f.input :due_date %>
    <%= f.input :prove %>
    <%= f.input :warning_unit %>
    <%= f.input :warning_count %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
