<p id="notice"><%= notice %></p>

<h1>Debts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Due date</th>
      <th>Prove</th>
      <th>Warning unit</th>
      <th>Warning count</th>
      <th>Kreditur</th>
      <th>Debitur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.name %></td>
        <td><%= debt.description %></td>
        <td><%= debt.amount %></td>
        <td><%= debt.category %></td>
        <td><%= debt.due_date %></td>
        <td><%= debt.prove %></td>
        <td><%= debt.warning_unit %></td>
        <td><%= debt.warning_count %></td>
        <td><%= debt.kreditur_id %></td>
        <td><%= debt.debitur_id %></td>
        <td><%= link_to 'Show', debt %></td>
        <td><%= link_to 'Edit', edit_debt_path(debt) %></td>
        <td><%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt', new_debt_path %>
