<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @debt.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @debt.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @debt.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @debt.category %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @debt.due_date %>
</p>

<p>
  <strong>Prove:</strong>
  <%= @debt.prove %>
</p>

<p>
  <strong>Warning unit:</strong>
  <%= @debt.warning_unit %>
</p>

<p>
  <strong>Warning count:</strong>
  <%= @debt.warning_count %>
</p>

<p>
  <strong>Kreditur:</strong>
  <%= @debt.kreditur_id %>
</p>

<p>
  <strong>Debitur:</strong>
  <%= @debt.debitur_id %>
</p>

<%= render 'chats/chat_form' %>

<%= render @debt.chats %>

<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
