<p id="notice"><%= notice %></p>

<p>
  <strong>Debt:</strong>
  <%= @entry.debt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entry.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<p>
  <strong>Prove:</strong>
  <%= @entry.prove %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
