<% @users.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<h1>Friend</h1>

<% @friends.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<h1>Friendship</h1>

<% @friendships.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>



