<h1>Welcome, <%= @user.firstname %></h1>
<hr><br>
<% @not_friends.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.firstname %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
<hr><br>

<h1>All Friends</h1>

<% @all_friends.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.firstname %></strong>
      (<%= link_to "remove", unfriend_friendship_path(user.id), method: :delete %>)
      (<%= link_to "Buat Utang", create_utang_debts_path(user.id) %>)
      (<%= link_to "Buat Piutang", create_piutang_debts_path(user.id) %>)
      <div class="clear"></div>
    </p>
  </div>
<% end %>
<hr><br>

<h1>Friends You Add</h1>

<% @friendships.each do |friendship| %>
  <div class="friendship">
    <p>
      <strong><%= friendship.friend.firstname %></strong>
      (<%= link_to "remove", friendship, method: :delete %>)
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<hr><br>

<h1>Friends Add You</h1>

<% @friendships_inverse.each do |friendship| %>
  <div class="friendship">
    <p>
      <strong><%= friendship.user.firstname %></strong>
      (<%= link_to "remove", friendship, method: :delete %>)
      <div class="clear"></div>
    </p>
  </div>
<% end %>


