<h1>Welcome, <%= @user.username %></h1>
<hr><br>
<% @users.each do |user| %>
  <div class="user">
    <p>
      <strong><%= user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
<hr><br>

<h1>Friends You Add</h1>

<% @friendships.each do |friendship| %>
  <div class="friendship">
    <p>
      <strong><%= friendship.friend.username %></strong>
      (<%= link_to "remove", friendship, method: :delete %>)
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<hr><br>

<h1>Friends Add You</h1>

<% @friendships_inverse.each do |friendship| %>
  <div class="friendship">
    <p>
      <strong><%= friendship.user.username %></strong>
      (<%= link_to "remove", friendship, method: :delete %>)
      <div class="clear"></div>
    </p>
  </div>
<% end %>


